body{
    overflow: hidden;
    box-sizing: border-box;
}
.omrd-banner {
    background: url(/img/2020-11-10.png);
    height: 60vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.box-purpose{
    display: flex;
    align-items: flex-end;
}


.purpose h1{
    text-align: right;
}

.purpose-img{
    float: left;
}

.purpose p1{
    text-align: right;
}

.box-expertise{
    display: flex;
    align-items: flex-end;

}

.expertise h1{
    text-align: left;
}

.expertise-img{
    float:right;
}

.espertise p1{
    text-align: right;
}


#team {
    position: relative;
    overflow: hidden;
}

.kolonne {
    float: left;
    width: 23.0%;
    margin: 1% 1% 45px 1%;
    height: 500px;
}

.person {
    display: inline-block;
    bottom: 0px;
}

.kolonne img {
    width: 100%;
    display: block;
}

/*legger inn responsivitet i siste filen*/

