html{
    box-sizing: border-box;
}

body{
    overflow: hidden;
    margin: auto;
}
.omrd-banner {
    background: url(/img/2020-11-10.png);
    height: 60vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.banner-tekst{
    position: absolute;
    width: 100%;
    height: 100%;
    /*tilpasning til nettlesere*/
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-tekst h1{
    color: white;
    margin-top: -300px; /*plassering av tekst på banner*/
    text-align: center;
    font-size: 56px;
    text-transform: uppercase;
}

.box-purpose{
    display: grid;
    align-items: flex-end;
    object-fit: contain;
}


.purpose h1{
    text-align: right;
}

.purpose-img{
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.purpose p1{
    text-align: right;
}

.box-expertise{
    display: grid;
    align-items: flex-start;
}

.expertise h1{
    text-align: left;
}

.expertise-img{
    float:right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.espertise p1{
    text-align: right;
}


#team {
    position: relative;
    overflow: hidden;
}

.kolonne {
    float: left;
    width: 23.0%;
    margin: 1% 1% 45px 1%;
    height: 500px;
}

.person {
    display: inline-block;
    bottom: 0px;
}

.kolonne img {
    width: 100%;
    display: block;
}

/*legger inn responsivitet i siste filen*/

