
*{
    font-family: 'Kufam', cursive;
}

body{
    background-color: black;

}

#wrapper{
    max-width: 960px;
    text-align: center;
    margin: auto;
    color: white;
}

header {

}

#tittel {
    font-size: 25px
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

nav li {
    list-style: none;
    display: inline;
}
nav li a {
    color: white;
    font-size: 20px;
}

#content {

}

/*skjermstørrelse kommer her/*
