
*{
    font-family: 'Kufam', cursive;
}

img {
    max-width: 100%;
    height: auto;
}

body{
  background-color: black;
    background-image: url(img/marsnasaheader.jpg)no-repeat;
    background-size: auto;

}

#wrapper{
    max-width: 960px;
    position: absolute;
    margin-left: 250px;
    padding-bottom: 250px;
    text-align: center;
    color: white;
}

header {
}

nav ul {
    text-align: center;
    padding: 10px 5px 10px 5px;
}

nav li {
    display: inline;
    margin: auto;
}
nav li a {
    color: white;
}
