*{
    font-family: 'Kufam', cursive;
    margin: 0;
    padding: 0;
}


body{
    color: white;
    background: black;
}

#maincontent {
    overflow: hidden; /*holder footer nede*/
    align-content: center;
    text-align: center;
}

/*navigasjon*/
nav{
    height: 50px;
    background: black;
}

nav h1{
    top:8px; /*matcher med menyen*/
    position: absolute;
    width: 300px;
    color: #fff;
}

nav ul {
    float: right;
    margin-right: 25px;
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    line-height: 50px;
    margin: 0 15px;
}

nav li a {
    position: relative;
    padding: 5px 0;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

label #tegn-1,
label #tegn-2{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 50px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#res-nav {
    display: none;
}

/*banner index*/

.banner-omrd {
    background-image: url(img/marsnasaheader.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 60vh;
}

.banner-tekst {
    position: absolute;
    width: 100%;
    height: 100%;
    /*tilpasning til nettlesere*/
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-tekst h2 {
    color: white;
    margin-top: -300px; /*plassering av tekst på banner*/
    text-align: center;
    font-size: 56px;
    text-transform: uppercase;
}

/*banner starships*/

.banner-omrd-star {
    background-image: url(img/Guardians.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 60vh;
}

.banner-tekst-star {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-tekst-star h2 {
    color: white;
    margin-top: -300px; /*plassering av tekst på banner*/
    text-align: center;
    font-size: 56px;
    text-transform: uppercase;
}

/*banner space projects*/

.banner-omrd-space {
    background-image: url(img/mars1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 60vh;
}

.banner-tekst-space {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-tekst-space h2 {
    color: white;
    margin-top: -300px; /*plassering av tekst på banner*/
    text-align: center;
    font-size: 56px;
    text-transform: uppercase;
}

/*banner space projects*/

.banner-omrd-heis {
    background-image: url(img/buzz.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 60vh;
}

.banner-tekst-heis {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-tekst-heis h2 {
    color: white;
    margin-top: -300px; /*plassering av tekst på banner*/
    text-align: center;
    font-size: 56px;
    text-transform: uppercase;
}


/*skjermtilpasning*/
@media (max-width:870px){
    label #tegn-1{
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%; /*bredden av greia som kjøres ut*/
        height: 100vh;  /*høyden på greia som kjøres ut, matcher banner*/
        background: indigo;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: .5s; /*hastighet på utrulling*/
        z-index: 10; /*overrkjører tekst bak utrullingsgreia*/
    }
    nav li {
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }
    nav li a{
        font-size: 20px;
    }
    #res-nav:checked ~ ul {
        left: 0;
    }
    #res-nav:checked~label #tegn-1{
        display: none;
    }
    #res-nav:checked~label #tegn-2{
        display: block;
    }

}

#tegn-3 {
    font-size: 100px;
    color: #fff;
    float: center;
    line-height: 200px;
    margin-right: 30px;
}


/*om planetene index*/

.mars h1 {
    margin-top: 100px;
    align-content: center;
    font-size: 60px;
    text-transform: uppercase;
}

.mars-img {
    padding-top: 300px;
    background-image: url(img/marsbar.png);
     -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.mars-img h2 {
    margin-top: 100px;
    margin-left: 50px;
    margin: auto;
    font-size: 25px;
    text-align: center;
}


.jord h1 {
    margin-top: 100px;
    align-content: center;
    font-size: 60px;
    text-transform: uppercase;
}

.jord-img {
    padding-top: 200px;
    background-image: url(img/jorden.png);
     -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.jord-img h2 {
    margin-top: 100px;
    font-size: 25px;
}


/*kolonne-content*/

.rad {
    padding-top: 35px;
}

.kolonne {
    float: left;
    width: 30.0%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */
.rad:after {
    content: "";
    display: table;
    clear: both;
}


.footer {
    background-color: indigo;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}























