
body{
    background-color: #6caf99;
    position: absolute;
}

#wrapper {
    position: absolute;
    top: 0px;
    margin-left: 250px;
    width: 960px;
    padding-bottom: 250px;
}

img.align-center{
    display: block;
    margin: 0px auto;
    width: 960px;
}


.sidebar {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #6caf99;
  padding-top: 20px;
}


.sidebar a, .droppknapp {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffaec8;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidebar a, .droppknapp:hover {
  color: #ffaec8;
}

.dropdown-container {
  display: none;
  background-color: #ffaec8;
  padding-left: 8px;
}


.innlegg {
    display: block;
    text-align: center;
    background-color: white;
    position: absolute;
    font-size: 16px;
    width: 960px;
}
.ommeg {
    background-color: white;
    float: center;
}

#forsteokt{
    border:solid #cccac9;
    padding:20px;
    width: none;
}

#tredjeokt{
    border:solid #cccac9;
    padding:20px;
    width: none;
}

#femteokt{
    border:solid #cccac9;
    padding:20px;
    width: none;
}

#sjuendeokt{
    border:solid #cccac9;
    padding:20px;
    width: none;
}
